<div style="height: 100px;"></div>
<div class="flex-row flex-center">
    <div class="flex-1"></div>
    <img [src]="url" style="width: 30%;"/>

    <div class="flex-1"></div>
    <div>
        <div>订单号：</div>
        <div class="line"></div>
        <div>订单号后四位：</div>
        <div class="line"></div>
        <div>一级地址：</div>
        <div class="line"></div>
        <div>二级地址：</div>
        <div class="line"></div>
        <div>数量：</div>
        <div class="line"></div>
        <div>姓名：</div>
        <div class="line"></div>
        <div>手机号：</div>
        <div class="line"></div>
        <div>重量：</div>
        <div class="line"></div>
        <div>体积：</div>
        <div class="line"></div>
        <div class="tj">提交</div>
    </div>
    <div class="flex-1"></div>
</div>